NEXT_PUBLIC_RELAY_APP_URL=http://localhost:3000
DATABASE_URL=
DATABASE_URL_UNPOOLED=
NEON_AUTH_BASE_URL=
NEXT_PUBLIC_NEON_AUTH_URL=
NEON_AUTH_COOKIE_SECRET=
PLASMO_PUBLIC_RELAY_API_BASE=http://localhost:3000
